<h1>All Pets!</h1>
<div class="carousel-item">
<% @pets.each do |pet|%>
  <img src="<%= pet.image %>" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h2><%= pet.name %></h2>
    <p>Breed: <%= pet.breed %></p>
    <%= link_to pet.name, pet %>
  </div>
<% end %>
</div>