<div class="row">
  <div class="col-3">
  </div>
  <div class="col-3">
    <h1><%= @pet.name %></h1>
    <p>Breed: <%= @pet.breed %></p>
    <a href="/pets">Back to all pets</a>
    <%= link_to "Destroy pet", pet_path(@pet), data: {turbo_method: :delete} %>
  </div>
  <div class="col-3">
    <img src="<%= @pet.image %>">
  </div>
  <div class="col-3">
  </div>
</div>

